body{
    background-color: rgb(199, 88, 199);
}

/*Using flex box to display all items in a column and then style them seperately by ID*/
.launch-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:100%;
  
}

#sky-image{
    margin-top: 60px;
    width: 15%;
   
}

#launching-text{
    margin-top: 70px;
    color: white;
    font-size: 60px;
    text-align: center;
}

/*Controls animation for spinning which plays on page load*/
#spinner {
    margin-top:60px;
    width: 10vh;
    height: 10vh;
    border: 5px solid #ccc;        /* light ring */
    border-top: 5px solid purple;  /* colored part */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*Make it so that the sky image is bigger on smaller screens*/
@media (max-width: 768px) {
    #sky-image {
        width:40%;
    }
}
