@font-face {
    font-family: 'Custom Inter'; 
    src: url('./assets/fonts/Inter.ttf') format('truetype');
    font-weight: 100 900; 
    font-style: normal;
}

/* Global styles for every page */

body{
    margin:0;
    font-family:"Custom Inter", sans-serif;
}
