.container{
    display: flex;
    height: 100vh;
}

a {
    text-decoration: none;
}

/* Login Styling*/

/*Keeps the login container on the right side*/
.login-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex:1;
    padding: 30px;
}

/*Centers the image and sizes it*/
#logo img{
    margin-top: 60px;
    margin-left: 25px;
    width:300px;
}

/*Parent for the login boxes etc*/
.info-forms {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#login-text{
    font-size: 30px;
}

/*Parent width container for forms*/
.info-forms,
.login-button {
    width:100%;
    max-width: 550px;
}

/*For each form*/
.info-forms input {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    font-size: 14px;
}

/*Used for small helpers under the password boxes (i.e remember me/forgot pw)*/
.helpers{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width:100%;
}

.remember {
    display: flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap; 
}


.login-button button{
    width:100%;
    padding:24px;
    background-color: rgb(185, 25, 185);
    color: white;
    border: 1px solid rgb(224, 222, 222);
    border-radius: 9px;
    font-size: 20px;
    cursor: pointer;
}

.bottom-links{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 20px;
}

.bottom-links a{
    margin: 8px;
}

.left-container{
    flex:1;
    background-color: rgb(167, 4, 167);
    height: 100vh;
   
    display: flex;
   
}

.left-container img{
    width: 80%;
    height: 100%;
    object-fit: cover; 
}

/*Hide the image on smaller screens*/
@media (max-width: 768px) {
    .left-container {
        display: none;
    }
}