<!-- Login Page -->

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sky - Login Page</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'styling/index.css' %}">
</head>
<body>
    

    <!--Main Container-->
    <div class="container">

        <!--Container for other half containing image-->
        <div class="left-container">
            <img src="{% static 'Assets/login_page/login-man.png' %}" alt="Login Man">
        </div>

        <!--Container for Login-->
        <div class="login-container">

            <div id="logo">
                <img src="{% static 'assets/public/sky_logo.svg' %}" alt="Sky Logo">
            </div>
            
            <form method="POST" action="{% url 'accounts:CustomLoginView' %}">
                {% csrf_token %}

                <div class="info-forms">
                    <h3 id="login-text">Login</h3>
                    <input type="text" name="username" placeholder="Email">
                    <input type="password" name="password" placeholder="Password">

                    <div class="helpers">
                        <label class="remember">
                            <input type="checkbox" name="remember">
                            Remember me
                        </label>
                        <a href="{%url 'forgot-password'%}">Forgot password</a>
                    </div>

                </div>

                <div class="login-button">
                    <button type="submit">Login</button>
                </div>
            
            </form>

            <div class="bottom-links">
                <a href="#">Admin Login</a>
                <a href="{% url 'create-account' %}">Create Account</a>
            </div>

        </div>

      
    </div>
</body>
</html>